.educations {
    margin: 0;
}

.my_educations{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.container.educations__container {
    width: var(--container-width-lg)
}

.educations__container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
}


.education__content__left {
    /* position: relative; */
    display: flex   ;
    justify-content: center;
    align-items: center;
    /* background-color: var(--color-bg-variant); */
    /* border-radius: 1.5rem; */
}

.child {
    /* width: 400px;
    height: 400px; */
    /* background-color: green; */
}

.education__content__right {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 2rem;
}

.education__content__right > div {
    background-color: var(--color-bg-variant);
    padding: 2.4rem 2.4rem;
    border-radius: 1.5rem;
    /* border: 1px solid transparent; */
    /* transition: var(--transition); */
}

/* .education__content__right {
    padding-left: 1rem;
} */

.education__content {
    display: grid;
    gap: 1rem;
    margin-left: 1rem;
}

.education__content > div {
    background-color: var(--color-bg-variant);
    border: 1px solid transparent;
    transition: var(--transition);
}
.education__content > div:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
}

.education__detail {
    margin-left: 1rem;
}

/*            Medium device           */
@media screen and (max-width: 1024px) { 
    .container.educations__container {
        width: var(--container-width-lg);
    }
    /* .experience__container {
        grid-template-columns: 1fr;
    }

    .container.experience__container {
        width: 90%;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }
    .experience__content_nlp {
        padding: 1rem;
    }
    .experience__content_cov {
        padding: 1rem;
    }
    .what_i_know {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    } */
}

/*            Small device           */
@media screen and (max-width: 600px) { 

    .container.educations__container {
        width: 80%;
    }

    .educations__container {
        margin-top: 2rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    

}

/*            Small device           */
@media screen and (max-width: 800px) { 

    .container.educations__container {
        width: var(--container-width-md);
    }

    .educations__container {
        margin-top: 2rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .education__content__right > div {
        background-color: var(--color-bg-variant);
        padding: 2.4rem 2.4rem;
        /* border-radius: 1.5rem; */
        /* border: 1px solid transparent; */
        /* transition: var(--transition); */
    }
    

}
